<h1 class="tituloconferencias">CONFERENCIAS DE LA NBA</h1>
<div class="conferencias">


<a href="/eastern">

<img src="/images/Nba-Eastern-Conference-Logo-Vector (1).png"    alt="Este" width="500px">

</a>

<a href="/western">

<img src="/images/western.png"    alt="Oeste" width="500px">

</a>
</div>
