<h1>CONFERENCIAS DE LA NBA</h1>

<a href="/eastern">

<img src="../imagenes/eastern.jpg"    alt="Este" width="300px">

</a>

<a href="/western">

<img src="../imagenes/western.jpg"    alt="Oeste" width="300px">

</a>