<div class="titulohome">
    <h1>NBA</h1>
    
<h5>I LOVE THIS GAME</h5>
</div>


<img src="/images/eastern/Atlanta-haws.png"    alt="Atlanta Haws" width="100px">

<img src="/images/eastern/Boston-celtics.png"    alt="Boston Celtics" width="100px">

<img src="/images/eastern/brooklyn-nets.png"    alt="Brooklyn Nets" width="100px">

<img src="/images/eastern/charlotte-hornets.png"    alt="Charlotte Hornets" width="100px">

<img src="/images/eastern/chicago-bulls.png"    alt="Chicago Bulls" width="100px">

<img src="/images/eastern/cleveland-cavaliers.png"    alt="Cleveland Cavaliers" width="100px">

<img src="/images/eastern/detroit-pistons.png"    alt="Detroit Pistons" width="100px">

<img src="/images/eastern/indiana-pacers.png"    alt="Indiana Pacers" width="100px">

<img src="/images/eastern/miami-heat.png"    alt="Miami Heat" width="100px">

<img src="/images/eastern/milwaukee-bucks.png"    alt="Milwaukee Bucks" width="100px">

<img src="/images/eastern/new-york-knicks.png"    alt="New York Knicks" width="100px">

<img src="/images/eastern/orlando-magic.png"    alt="Orlando Magic" width="100px">

<img src="/images/eastern/philadelphia-76ers.png"    alt="Philadelphia 76ers" width="100px">

<img src="/images/eastern/toronto-raptors.png"    alt="Toronto Raptors" width="100px">

<img src="/images/eastern/washington-wizards.png"    alt="Washington Wizards" width="100px">

<img src="/images/western/dallas-mavericks.png"    alt="Dallas Mavericks" width="100px">

<img src="/images/western/denver-nuggets.png"    alt="Denver Nuggets" width="100px">

<img src="/images/western/golden-state-warriors.png"    alt="Golden State Warriors" width="100px">

<img src="/images/western/houston-rockets.png"    alt="Houston Rockets" width="100px">

<img src="/images/western/los-angeles-clippers.png"    alt="Los Angeles Clippers" width="100px">

<img src="/images/western/los-angeles-lakers.png"    alt="Los Angeles Lakers" width="100px">

<img src="/images/western/memphis-grizzlies.png"    alt="Memphis Grizzlies" width="100px">

<img src="/images/western/minnesota-timberwolves.png"    alt="Minnesota Timberwolves" width="100px">

<img src="/images/western/new-orleans-pelicans.png"    alt="New Orleans Pelicans" width="100px">

<img src="/images/western/oklahoma-city-thunders.png"    alt="Oklahoma City Thunders" width="100px">

<img src="/images/western/phoenix-suns.png"    alt="Phoenix Suns" width="100px">

<img src="/images/western/portland-trail-blazers.png"    alt="Portland Trail Blazers" width="100px">

<img src="/images/western/sacramento-kings.png"    alt="Sacramento Kings" width="100px">

<img src="/images/western/san-antonio-spurs.png"    alt="San Antonio Spurs" width="100px">

<img src="/images/western/utah-jazz.png"    alt="Utah Jazz" width="100px">
