<div>

  <h3>El campeón de la NBA va a ser...</h3>

  

  <form action="/pronostico" method="post">

    <label for="teams">Equipo campeón</label>
    <select class="form-select" name="teams" multiple>

      {{#each allTeams}}

        <option value="{{this._id}}">{{this.nombre}}</option>

      {{/each}}

    </select>
    <br />

    
    

<button>Agregar</button>
    <br />


    <br />

    {{! <input type="text" name="author"> }}

  </form>
</div>