

<div>

    <h3>Pronóstico</h3>

    {{#each this.allTeams}}

    <li>Este es tu equipo favorito para el título:{{this.nombre}}</li>


  {{/each}}



<div>

    <h3>Favoritos</h3>

{{#each this.allTeams}}

    <li>Al equipo al que amas:{{this.nombre}}</li>


  {{/each}}

</div>