

<div class="supercopa">
    <h3>Pronóstico Favorito</h3>

    <ul>
        <h4>Equipo Campeón:</h4>
        {{this.oneUser.pronostico.nombre}}
    </ul>

    <ul>
        <h4>Equipo Amado:</h4>
        {{this.oneUser.favorito.nombre}}
    </ul>
</div>
