<h1>EQUIPOS CONFERENCIA OESTE</h1>

<img src="../imagenes/oeste/dallas-mavericks.png"    alt="Dallas Mavericks" width="190px">

<img src="../imagenes/oeste/denver-nuggets.png"    alt="Denver Nuggets" width="190px">

<img src="../imagenes/oeste/golden-state-warriors.png"    alt="Golden State Warriors" width="190px">

<img src="../imagenes/oeste/houston-rockets.png"    alt="Houston Rockets" width="190px">

<img src="../imagenes/oeste/los-angeles-clippers.png"    alt="Los Angeles Clippers" width="190px">

<img src="../imagenes/oeste/los-angeles-lakers.png"    alt="Los Angeles Lakers" width="190px">

<img src="../imagenes/oeste/memphis-grizzlies.png"    alt="Memphis Grizzlies" width="190px">

<img src="../imagenes/oeste/minnesota-timberwolves.png"    alt="Minnesota Timberwolves" width="190px">

<img src="../imagenes/oeste/new-orleans-pelicans.png"    alt="New Orleans Pelicans" width="190px">

<img src="../imagenes/oeste/oklahoma-city-thunders.png"    alt="Oklahoma City Thunders" width="190px">

<img src="../imagenes/oeste/phoenix-suns.png"    alt="Phoenix Suns" width="190px">

<img src="../imagenes/oeste/portland-trail-blazers.png"    alt="Portland Trail Blazers" width="190px">

<img src="../imagenes/oeste/sacramento-kings.png"    alt="Sacramento Kings" width="190px">

<img src="../imagenes/oeste/san-antonio-spurs.png"    alt="San Antonio Spurs" width="190px">

<img src="../imagenes/oeste/utah-jazz.png"    alt="Utah Jazz" width="190px">